.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
    padding-top: 10px;
  
    .input-label {
      position: absolute;
      left: 30px;
      color: #f1f0ef;
      font-size: 16px;
      font-weight: bold;
      background: transparent;
      padding: 0 5px;
      z-index: 1;
    }

   
}

.error-message{
  color: #b60213;
  font-size: x-small;
  padding-left: 12px;
}

.input-group-label{
  color: white;
}

.radio-input {
  appearance: none; /* Tarayıcı varsayılan stillerini devre dışı bırak */
  width: 16px;
  height: 16px;
  border: 1px solid #a40514; /* Kenarlık rengi */
  border-radius: 50%; /* Yuvarlak şekil için kenar yarıçapı */
  outline: none; /* Odaklandığında kenarlık olmamasını sağlar */
  cursor: pointer; /* Fare üzerine gelince işaretçi stilini değiştir */
  margin-right: 8px; /* İçerikle arasındaki boşluk */
  position: relative; /* Görsel pozisyon için */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* 
  
  Geçiş efekti */
  margin-left: 8px;
}

.radio-input:checked {
  background-color: #a40514; /* Seçili olduğunda arka plan rengi */
  border-color: #a40514; /* Seçili olduğunda kenarlık rengi */
}

.radio-input::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%; /* İç dolgu yarıçapı */
  background-color: #fff; /* Seçili iç dolgu rengi */
  position: absolute; /* Mutlak pozisyon için */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Ortala */
  opacity: 0; /* Varsayılan olarak görünmez */
  transition: opacity 0.3s ease; /* Geçiş efekti */
}

.radio-input:checked::after {
  opacity: 1;
}

.button-submit{
  background-color: #a40514 ; 
    border: none; 
    color: white; 
    padding: 10px 70px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block; 
    font-size: 16px; 
    border-radius: 25px; 
    cursor: pointer; 
}

.button-submit:hover{
  background-color: white;
  color:#989999;
}
