.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
    padding-top: 10px;
  
    .input-label {
      position: absolute;
      left: 30px;
      color: #f1f0ef;
      font-size: 16px;
      font-weight: bold;
      background: transparent;
      padding: 0 5px;
      z-index: 1;
    }
}