.calendar {
  width: 100%;
  margin: 0 auto;
  display: flex;
	flex-flow: column;
	align-items: center;
	font-family: "Poppins", serif;
	background: url("src/assets/images/calendarbg4.jpg")
}

.calendar-header {
    margin-top: 80px;
    margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  padding-bottom: 10px;
  color: #ddd;
}

.calendar-day-of-week {
    display: flex;
    width: 10rem;
    height: 5rem;
    margin: 0.25rem;
    flex-flow: column;
    border-radius: 0.2rem;
    padding: 1rem;
    font-weight: 300;
    font-size: 2rem;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(119, 63, 68, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    align-items: center;
}

.calendar-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	flex-wrap: wrap;
	list-style: none;
    color: #ddd;
}

.calendar-day {
    display: flex;
    width: 10rem;
    height: 10rem;
    margin: 0.25rem;
    flex-flow: column;
    border-radius: 0.2rem;
    padding: 1rem;
    font-weight: 300;
    font-size: 0.8rem;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(119, 63, 68, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.calendar-day:hover {
  background-color: #e4e4e4;
  color:black;
}

.calendar-day.empty {
  background-color: transparent;
  border: none;
  cursor: default;
}
